*{
	box-sizing: border-box;
}

/*
button = #00e0d0;
*/

body{
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.hero {
background-image:url("images/bgk-header.png") ;
height: 80vh;
width: 100vw;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

hr {
	width: 40px;
	height: 1px;
	opacity: 0.5;
	color: #00e0d0;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	
	
}

.logo {
	padding: 3rem;
	display: flex;
	gap: 1rem;
}

.logo h2 {
	gap: rem;
	font-size: 1.5rem;
	color: #30659c;
	font-family: "Roboto", sans-serif;
}

nav ul {
padding-right: 10rem;
display: inline-block;


}
nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 10px 20px;
	margin-top: 0.5rem;
	
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

nav ul li a:hover {
	color: #00e0d0;
}

.hero .heading {
	font-size: 2rem;
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 5rem;
}

.hero p {
	color: white;
	display:flex;
	justify-content: center;
	text-align: center;
	margin: 4rem 30rem 2rem 30rem;
	font-size: 1.2rem;
	font-family: "Roboto";
}

.hero .learnButton {
	
	display: flex;
	justify-content: center;
	text-align: center;

}

.hero .learnButton button {
	color: #00e0d0;
	border: 1px solid #00e0d0 ;
	background: none;
	text-transform: uppercase;
	margin-top: 0.7rem;
	padding: 0.7rem 1.3rem;
}

.hero .learnButton button:hover {
	background: #3e3d3d;
	color: white;
}

.story .learnButton button {
	color: #00e0d0;
	border: 1px solid #00e0d0 ;
	background: none;
	text-transform: uppercase;
	margin-top: 0.7rem;
	padding: 0.7rem 1.3rem;
}

.story .learnButton button:hover {
	background: #3e3d3d;
	color: white;
}

.story {
	display: flex;
	padding: 3rem;
	justify-content: center;
	text-align: center;
}

.story img {
	padding-left: 20rem;
	width: 50vw;
	padding-top: 5rem;
	height: 40vh;
}

.text h2 {
	font-family: "Roboto";
	gap: 1rem;
	font-size: 2rem;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 5rem 15rem;
}

.text p {
	font-size: 1.25rem;
	text-align: space-between;
	font-family: "Roboto";
}

.video {
	background-image: url("images/bgk-middle.png");
	width: 100vw;
	height: 55vh;
	background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.play {
	display: flex;
	justify-content: center;
	text-align: center;
	padding-top: 15rem;
	
}

.video h4 {
	color: white;
	font-family: "Roboto";
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}