*{
	box-sizing: border-box;
}

/*
button = #00e0d0;

text grey: #b8b8b8;
*/

body{
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}




/* This is for the content section */

/* expertise section in the main content */
.expertise{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/* 	border: 1px solid red; */
	padding: 0.8rem 7rem;
}

.expertise h2{
	margin-bottom: 0;
}

.expertise .intro{
	margin-top: 0.2rem;
	color: #3e3d3d;
}

.expertise .expertise-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1rem 2rem;
	gap: 1rem;
	/* border: 1px solid #18130b; */
}

.expertise-item{
	padding: 1.7rem;
	/* border: 1px solid red; */
}

/* hr.horizontal {
	width: 40px;
	height: 1px;
    background-color: #aca8a8;
    border: none;
} */


.expertise-container .expertise-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 0.9rem; */
}

/* .expertise-h{
    width:100%;
	height: 1px;
    background-color: #aca8a8;
    border: none;
} */

/* Meet the team section in the main content */
.team{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/* 	background-image: url(./images/bgk-middle.png); */
	/* color: #fff; */
	padding: 0.8rem 7rem;
	border: 1px solid red;
}

.team h2{
	margin-bottom: 0.2rem;
}

.team .intro{
	margin-top: 0;
}

.team-container{
	display: flex;
	padding: 2rem 8rem; 
	border: 1px solid red;

}

.team-container-item{
	margin: 0.5rem;
	padding: 0.7rem;
	width: 60%;
	border: 1px solid rgb(18, 12, 12);
/* 	width: 40%; */
}

.team-container-item img{
	width: 100%;
}

.team-container-item .card-text{
	padding: 0.4rem 1rem;
}

